/*All Animations Starts Here*/
@keyframes outer-ripple {
    0% {
      transform: scale(1);
      filter: alpha(opacity=50);
      opacity: 0.5;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      -webkit-filter: alpha(opacity=50); }
    80% {
      transform: scale(1.5);
      filter: alpha(opacity=0);
      opacity: 0;
      -webkit-transform: scale(2.5);
      -moz-transform: scale(2.5);
      -ms-transform: scale(2.5);
      -o-transform: scale(2.5); }
    100% {
      transform: scale(3.5);
      filter: alpha(opacity=0);
      opacity: 0;
      -webkit-transform: scale(3.5);
      -moz-transform: scale(3.5);
      -ms-transform: scale(3.5);
      -o-transform: scale(3.5); } }
@-webkit-keyframes outer-ripple {
0% {
    transform: scale(1.5);
    filter: alpha(opacity=50);
    opacity: 0.5;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5); }
80% {
    transform: scale(3.5);
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: scale(3.5);
    -moz-transform: scale(3.5);
    -ms-transform: scale(3.5);
    -o-transform: scale(3.5); }
100% {
    transform: scale(4.5);
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: scale(4.5);
    -moz-transform: scale(4.5);
    -ms-transform: scale(4.5);
    -o-transform: scale(4.5); } }
@-moz-keyframes outer-ripple {
0% {
    transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-filter: alpha(opacity=50); }
    80% {
    transform: scale(1.5);
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: scale(2.5);
    -moz-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5); }
    100% {
    transform: scale(3.5);
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: scale(3.5);
    -moz-transform: scale(3.5);
    -ms-transform: scale(3.5);
    -o-transform: scale(3.5); } }
/* inner ripple */
@keyframes inner-ripple {
0% {
    transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1); }
30% {
    transform: scale(2);
    filter: alpha(opacity=50);
    opacity: 0.5;
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2); }
100% {
    transform: scale(2.5);
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: scale(2.5);
    -moz-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5); } }
@-webkit-keyframes inner-ripple {
0% {
    transform: scale(2);
    filter: alpha(opacity=50);
    opacity: 0.5;
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2); }
30% {
    transform: scale(2.5);
    filter: alpha(opacity=50);
    opacity: 0.5;
    -webkit-transform: scale(2.5);
    -moz-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5); }
100% {
    transform: scale(3.5);
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: scale(3.5);
    -moz-transform: scale(3.5);
    -ms-transform: scale(3.5);
    -o-transform: scale(3.5); } }
@-moz-keyframes inner-ripple {
0% {
    transform: scale(2);
    filter: alpha(opacity=50);
    opacity: 0.5;
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2); }
30% {
    transform: scale(2.5);
    filter: alpha(opacity=50);
    opacity: 0.5;
    -webkit-transform: scale(2.5);
    -moz-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5); }
100% {
    transform: scale(3.5);
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: scale(3.5);
    -moz-transform: scale(3.5);
    -ms-transform: scale(3.5);
    -o-transform: scale(3.5); } }

/*All Animation Ends Here*/

#overlayer {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999999;
    background: $theme-color;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
#overlayer .loader {
    display: inline-block;
    width: 45px;
    height: 45px;
    position: absolute;
    z-index: 3;
    border: 4px solid white;
    top: 50%;
    -webkit-animation: loader 2.5s infinite ease;
    animation: loader 2.5s infinite ease;
}
#overlayer .loader .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: white;
    -webkit-animation: loader-inner 2.5s infinite ease-in;
    animation: loader-inner 2.5s infinite ease-in;
}
@-webkit-keyframes loader {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
  
    25% {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
    }
  
    50% {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
    }
  
    75% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  
  @keyframes loader {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
  
    25% {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
    }
  
    50% {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
    }
  
    75% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @-webkit-keyframes loader-inner {
    0% {
      height: 0%;
    }
  
    25% {
      height: 0%;
    }
  
    50% {
      height: 100%;
    }
  
    75% {
      height: 100%;
    }
  
    100% {
      height: 0%;
    }
  }
  @keyframes loader-inner {
    0% {
      height: 0%;
    }
  
    25% {
      height: 0%;
    }
  
    50% {
      height: 100%;
    }
  
    75% {
      height: 100%;
    }
  
    100% {
      height: 0%;
    }
  }