%pr {
    position: relative;
}
%pa {
    position: absolute;
    content : '';
}
%flex {
    display: flex;
    flex-wrap: wrap;
}
%center {
    top: 50%;
    left: 50%;
    @include transform(translate(-50% , -50%));
    position: absolute;
    content: "";
}
//Padding Top and Bottom
.padding-top {
    padding-top: 80px;
}
.padding-bottom {
    padding-bottom: 80px;
}
.padding-top-2 {
    padding-top: 40px;
}
.padding-bottom-2 {
    padding-bottom: 40px;
}
@include breakpoint(md) {
    .padding-top {
        padding-top: 100px;
    }
    .padding-bottom {
        padding-bottom: 100px;
    }
    .padding-top-2 {
        padding-top: 50px;
    }
    .padding-bottom-2 {
        padding-bottom: 50px;
    }
}
@include breakpoint(lg) {
    .padding-top {
        padding-top: 120px;
    }
    .padding-bottom {
        padding-bottom: 120px;
    }
    .padding-top-2 {
        padding-top: 60px;
    }
    .padding-bottom-2 {
        padding-bottom: 60px;
    }
    .pt-lg-120 {
        padding-top: 120px !important;
    }
    .mt-lg-120 {
        margin-top: 120px !important;
    }
    .lg-oh {
        overflow: hidden;
    }
    .pt-lg-half {
        padding-top: 60px !important;
    }
    .pb-lg-half {
        padding-bottom: 60px !important;
    }
    .mt-lg--90  {
        margin-top: -90px;
        position: relative;
        z-index: 9;
    }
}
.pr {
    position: relative;
}
/*Section Header*/
.mb-30-none {
    margin-bottom: -30px !important;
}
.tab-item {
    display: none;
    &.active {
        display: block;
    }
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    -moz-animation-name: fadeInUp;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
}
.tab-menu {
    li {
        cursor: pointer;
    }
}
.mt-10 {
    margin-top: 10px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-50 {
    margin-top: 50px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mb--20 {
    margin-bottom: -20px;
}
.mb-50 {
    margin-bottom: 50px;
}
.mb-40 {
    margin-bottom: 40px;
}
.mt--40 {
    margin-top: -40px;
}
.mb--50 {
    margin-bottom: -50px;
}
.pt-10 {
    padding-top: 10px;
}
.pt-20 {
    padding-top: 20px;
}
.pb-30 {
    padding-bottom: 30px;
}
.pt-50 {
    padding-top: 50px;
}
.pb-10 {
    padding-bottom: 10px;
}
.pb-20 {
    padding-bottom: 20px;
}
.pb-50 {
    padding-bottom: 50px;
}
.mb--38 {
    margin-bottom: -38px;
}
.mb-40-none {
    margin-bottom: -40px;
}
@include breakpoint(xl) {
    .pr-xl-15 {
        padding-right: 15px;
    }
}
.c-thumb {
    overflow: hidden;
    a {
        display: block;
    }
    img {
        width: 100%;
        @include transition($transition);
    }
}
.cl-white {
    * {
        color: $white-color;
        &::placeholder {
            color: rgba($color: $white-color, $alpha: 0.6);
        }
    }
    color: $white-color;
    p {
        color: rgba($color: $white-color, $alpha: .9);
    }
}
.cl-black {
    color: $body-color;
    h1, h2, h3, h4, h5 {
        color: $title-color;
    }
}

.oh {
    overflow: hidden;
}
/*Section-Header Starts Here*/
.section-bg {
    background: $section-bg;
}
.body-bg {
    background: $body-bg;
}
.theme-bg {
    background: $theme-color;
}
.theme-one {
    background: $theme-one;
}
.theme-two {
    background: $theme-two;
}
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background: rgba(0, 0, 0, 0.7);
    @include transition($transition);
    visibility: hidden;
    opacity: 0;
    &.active {
        opacity: 1;
        visibility: visible;
    }
}

.ratings {
    span {
        color: $star;
    }
}
.rtl {
    direction: rtl;
}
.ltr {
    direction: ltr;
}
.select-bar {
    .current {
        display: block;
        margin-top: 2px;
    }
    .list {
        width: 100%;
        max-height: 150px;
        overflow-y: auto;
        &::-webkit-scrollbar {
            width: 4px;
            background-color: #F5F5F5;
        }
        
        &::-webkit-scrollbar-thumb {
            background-color: #000000;
        }
        
        &::-webkit-scrollbar-track {
            -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
            background-color: #F5F5F5;
        }
        li {
            padding: 0 20px;
        }
    }
}
.nice-select:after {
    width: 10px;
    height: 10px;
}
.pos-rel {
    position: relative;
    .container {
        position: relative;
        z-index: 1;
    }
}
.mt-120 {
    margin-top: 120px;
}
.mb-120 {
    margin-bottom: 120px;
}
.mb--50 {
    margin-bottom: -50px;
}
.mb--30 {
    margin-bottom: -30px;
}
.mb-70 {
    margin-bottom: 70px;
}
.mb--70 {
    margin-bottom: -70px;
}
@include breakpoint(max-lg) {
    .pb-max-lg-0 {
        padding-bottom: 0 !important;
    }
    .pt-max-lg-0 {
        padding-top: 0 !important;
    }
    .mt-max-lg-0 {
        margin-top: 0 !important;
    }
    .mb-max-lg-0 {
        margin-bottom: 0 !important;
    }
}
@include breakpoint(max-md) {
    .pb-max-md-0 {
        padding-bottom: 0 !important;
    }
    .pt-max-md-0 {
        padding-top: 0 !important;
    }
    .mt-max-md-0 {
        margin-top: 0 !important;
    }
    .mb-max-md-0 {
        margin-bottom: 0 !important;
    }
}

/*Social Icons*/
.social-icons {
    @extend %flex;
    margin: -7.5px 0;
    li {
        padding: 7.5px;
        a {
            width: 36px;
            height: 36px;
            line-height: 36px;
            text-align: center;
            font-size: 16px;
            border: 1px solid rgba(255, 255, 255, 0.15);
            border-radius: 50%;
            color: $white-color;
            &.active, &:hover {
                background: $white-color;
                border-color: $white-color;
                i {
                    color: $theme-color;
                }
            }
        }
    }
}
.mt--83 {
    margin-top: -83px;
}
.mt--93 {
    margin-top: -93px;
}
.mt--150 {
    margin-top: -150px;
}
.pt-70-145 {
    padding-top: 70px;
    @include breakpoint(md) {
        padding-top: 145px;
    }
}
.mb--70--145 {
    margin-bottom: -70px;
    @include breakpoint(md) {
        margin-bottom: -145px;
    }
}
.mt--55--70 {
    margin-top: -55px;
    @include breakpoint(sm) {
        margin-top: -70px;
    }
}
.mt--160 {
    margin-top: -160px;
}
.mt--187 {
    margin-top: -187px;
}
.transparent {
    background: transparent !important;
}
.no-border {
    border: none !important;
}
.section-bg-2 {
    background: $section-bg-2;
}
.section-header {
    max-width: 635px;
    margin: 0 auto 40px;
    text-align: center;
    .cate {
        display: block;
        color: rgba($color: $title-color, $alpha: 0.7);
        margin-bottom: 20px;
    }
    .title {
        margin-bottom: 15px;
    }
    @include breakpoint(md) {
        margin-bottom: 65px;
        .cate {
            margin-bottom: 40px;
            font-size: 24px;
            font-weight: 600;
        }
        .title {
            margin-bottom: 30px;
        }
    }
    &.cl-white {
        .cate {
            color: rgba($color: $white-color, $alpha: 0.5);
        }
    }
}
.section-header-2 {
    @extend %flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    @include breakpoint(md) {
        margin-bottom: 65px;
    }
    .left-side {
        width: 100%;
        margin-bottom: 30px;
        .title {
            margin-bottom: 15px;
        }
        @include breakpoint(md) {
            width: calc(100% - 270px);
            margin-bottom: 0;
            .title {
                margin-bottom: 30px;
            }
        }
    }
    .load-more {
        max-width: 270px;
    }
}